body{
    margin: 1%;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')}

    @-o-viewport{
        zoom: 1;
        width: extend-to-zoom;
    }
    @-ms-viewport{
        zoom: 1;
        width: extend-to-zoom;
    }

    .header{ 
        display: block;
        background-image: url(images/bg-hero-desktop.svg) ;
        background-color:#F0F8FF;
        background-size: cover;
        padding-bottom: 100px;
        padding-left: 25px;
        padding-right: 25px;
        font-family:'Poppins', sans-serif; ;
    }

    .headbod{
        margin: 0em;
        padding: 15px;

    }

    .headmain{ 
        display: inline-block;
        height: 300px;
        width: 400px;
        margin-top: 30px;
        margin-left: 15px;
    }


    .headimg{
        display: inline-block;
        height: 300px; width: 400px;
        position: absolute;
        top: 75px; right: 300px;
    }

    .myButton {
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        background-color:#ffffff;
        border-radius:6px;
        border:1px solid #dcdcdc;
        padding: auto;
        cursor:pointer;
        color:#666666;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffffff;
        float: right;
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        background-color:#f6f6f6;
    }
   


.myButton2 {
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:15px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #c70067;
    
}
.myButton2:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
.cards{ 
    margin: 0em,auto;
    color: grey;
    display: grid;
    gap: 20px;
    padding: 40px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 25px;
}
h1{
    color: black;
}

.grow, .flow, .your {
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    border-radius: 25px;

}

.grow-img, .flow-img, .your-img{
    height: 300px;
    width: 400px;
    display: inline-block;
    justify-content: space-between;
}

.grow-img, .your-img{
    float: right;
    padding-right: 60px;
}

.grow-cont, .flow-cont, .your-cont{

line-height: 1.5;
font-size: .9em;
width: 400px;
display: inline-block;
text-align: left;
padding-top: 50px;
padding-left: 60px;
}

.flow-cont{
    float: right;
    padding-right: 60px;
    padding-top: 50px;
}

.footer{ 
    background-color:rgb(43, 37, 37);
    color:white;
    margin: 0em,auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0px;
    padding: 40px;
    font-family: 'Open Sans', sans-serif;}




.hudinfo{
    line-height: 1.5;
    font-size: .9em;
    width: 300px;
    display: inline-block;
    text-align: left;
    padding-top: 50px;
    padding-left: 60px;
}


.links{
    line-height: 1.5;
    font-size: .9em;
    width: 300px;
    display: inline-block;
    text-align: left;
    padding-top: 50px;
    padding-left: 60px;
    }

a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
    columns: 2;
}


.piclink{ 
    line-height: 1.5;
font-size: .9em;
width: 300px;
display: inline-block;
text-align: left;
padding-top: 50px;
padding-left: 60px;
}
.textbox{

    height: 50px;
    width: 50px;
}

.ready{
    margin: 0em,auto;
    color: grey;
    display: grid;
    gap: 20px;
    padding: 40px;
    font-family: 'Open Sans', sans-serif;
    height: 100px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    position: absolute;
    background-color: white;
    top: 87em;
    right: 13cm;
    border-radius: 25px;
    

}
.ready-button {
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
.ready-button:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
.ready-button:active {
	position:relative;
	top:1px;
}
